<%= content_for(:title, "Types and Styles | Beer Fridge") %>

<div class="row">
  <div class="col-md-12">

    <h1>Types and Styles</h1>

    <ul>
      <% @types.sort_by {|b| b.name}.each do |type| %>
        <li>
          <%= link_to type.name, type_path(type.slug)%>
        </li>
      <% end %>
    </ul>

<hr>
    <%= link_to "Add Type", new_type_path, :class=> "btn btn-default" %>

  </div>
</div>
