
    <label for="rating_score">Rating:</label><br>

    <div class="row lead">
        <div id="stars" class="starrr"></div>
    </div>


    <input name="rating[score]" id="score" type="hidden">
    <label for="rating_review">Review:</label><br>
    <textarea id="rating_review" name="rating[review]"></textarea>

