input {
  float: right;
}


#beer_description {
  height: 200px;
  width: 260px;
  float: right;
  margin-bottom: 15px;
}

#main {
  padding-top: 50px;
  padding-bot: 50px;
}

select {
  float: right;
}
textarea {
  float: right;
}
#review_btn {
  float: left;
  margin-bottom: 25px;
}
#rating_review {
  float: left;
  width: 300px;
  margin-bottom: 25px;
}

#stars {
  padding-left: 25px;
}
#beer-show {
  padding-left: 20px;
}
#reviews {
  margin-top: 70px;
  float: left;
}

#top_five {

}
#beer_img {
  margin: 10px 10px 10px 10px;
}
