input {
  float: right;
}


#beer_description {
  height: 200px;
  width: 260px;
  float: right;
  margin-bottom: 15px;
}

#main {
  padding-top: 50px;
  padding-bot: 50px;
}

select {
  float: right;
}
textarea {
  float: right;
}
