<%= content_for(:title, "Regions | Beer Fridge") %>


<div class="row">
  <div class="col-md-12">

    <h1>All Regions</h1>

    <ul>
      <% @regions.sort_by{|r| r.name}.each do |region| %>
        <li>
          <%= link_to region.name, region_path(region.slug)%>
        </li>
      <% end %>
    </ul>

<hr>
    <%= link_to "Add Region", new_region_path, :class=> "btn btn-default" %>

  </div>


</div>
