<div class="row">
  <div class="col-md-12">

    <h1>All Regions</h1>
    <% content_for(:title, "Beer Fridge | Regions") %>

    <ul>
      <% @regions.each do |region| %>
        <li>
          <%= link_to region.name, region_path(region.slug)%>
        </li>
      <% end %>
    </ul>


    <%= link_to "Add Region", new_region_path, :class=> "btn btn-default" %>

  </div>
</div>
